## PARCEIROS 360 - PAGAMENTO

In [1]:
!python --version

Python 3.9.12

### BIBLIOTECAS:

In [2]:
## data
import pandas as pd
import numpy as np
import datetime as dt
from dateutil.relativedelta import relativedelta
from unicodedata import normalize

## vis
import matplotlib
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import seaborn as sns

## modelo
from sklearn import preprocessing

## alertas
import warnings
warnings.filterwarnings("ignore")

### LAYOUT:

In [3]:
%matplotlib inline
matplotlib.rcParams['figure.figsize'] = (12, 6)

pd.set_option('display.max_columns', 200)
pd.set_option('display.width', 1000)

rc={'font.size': 16, 'axes.labelsize': 16, 'legend.fontsize': 16,
    'axes.titlesize': 18, 'xtick.labelsize': 16, 'ytick.labelsize': 16}

sns.set(rc=rc)
sns.set_style("darkgrid")
sns.set_palette("pastel")

### CONFIGS:

In [4]:
#pd.set_option('max_columns', 200)
pd.options.display.max_columns = 200 

seed = 42
np.random.seed(seed)

### DADOS:

In [7]:
PATH = "datasets/"

### PAGAMENTO:

In [8]:
FILE = "02_PAGTO.csv"
pagto = pd.read_csv(PATH + FILE, sep = ';', encoding = 'ISO-8859-1', engine ='python')
pagto.tail()

,FORNECEDOR,NOME_UNICO,COMPETENCIA,N_DOC,ANOMES,MONT_EM_MI,PGTO_EM,BLOQUEIO_NAO,BLOQUEIO_NAO_MONT_EM_MI,BLOQUEIO_SIM,BLOQUEIO_SIM_MONT_EM_MI,STATUS_EM_ABERTO,STATUS_INVALIDOS,STATUS_PAGTOS,STATUS_WF_AGUARDANDO_REGULARIZACAO,STATUS_WF_BLOQUEIO_ANALISE_CONTAS_A_PAGAR,STATUS_WF_BLOQUEIO_BLACKLIST,STATUS_WF_BLOQUEIO_COMPENSACAO_PAGTO,STATUS_WF_BLOQUEIO_CONSILIACAO,STATUS_WF_BLOQUEIO_DEVOLUCAO_DE_PAGTO,STATUS_WF_BLOQUEIO_FINANCEIRO,STATUS_WF_BLOQUEIO_PEND_CONTRATUAL,STATUS_WF_BLOQUEIO_POR_FINANCAS,STATUS_WF_FLUXO_DE_APROVACAO_WF,STATUS_WF_GESTOR_ENGENHARIA,STATUS_WF_GESTOR_NAO_ENGENHARIA,STATUS_WF_INTERVENCAO,STATUS_WF_RETIDO_ADIANTAMENTO,STATUS_WF_VERIFICAR,STATUS_WF_BLOQUEIO_PARA_PROTESTO,STATUS_WF_BLOQUEIO_REEM_BOLETO,SUB_STATUS_WF_APROVADO,SUB_STATUS_WF_RETIDO,SUB_STATUS_WF_EM_APROVACAO,SUB_STATUS_WF_VERIFICAR,EMPRESA_GLVA,EMPRESA_INN1,EMPRESA_ITIS,EMPRESA_POP1,EMPRESA_SPTE,EMPRESA_TBRA,EMPRESA_TERR,EMPRESA_TLF2,TP_PAGTO_BANCO,TP_PAGTO_FACTORING,TP_PAGTO_FACTORING_MONT_EM_MI,AMBITO_FORA,AMBITO_DENTRO,MAT_SERV_SERVICOS,MAT_SERV_MATERIALEQUIPAMENTOS,ESTADO_SP,ESTADO_PR,ESTADO_ES,ESTADO_RS,ESTADO_RJ,ESTADO_MG,ESTADO_PE,ESTADO_PI,ESTADO_MT,ESTADO_AM,ESTADO_BA,ESTADO_SC,ESTADO_GO,ESTADO_PA,ESTADO_TO,ESTADO_DF,ESTADO_CE,ESTADO_AC,ESTADO_RO,ESTADO_MS,ESTADO_PB,ESTADO_MA,ESTADO_AP,ESTADO_SE,ESTADO_AL,ESTADO_RN,ESTADO_RR,MESCONTABILIZACAO_N,MESCONTABILIZACAO_S
372331,DF3501SP,SYNIVERSE TECHNOLOGIES PRESTACAO DE SERVICOS L...,2021-10-01,2,0,-10082.08,-28.0,28,-10082.08,0,0.0,0,0,28,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,28,0,0,0,0,0,28,0,0,28,0,0.0,28,0,0,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,2,1,1,1,1,1,1,1,1,1,28,0
372332,DF3501SP,SYNIVERSE TECHNOLOGIES PRESTACAO DE SERVICOS L...,2021-12-01,2,28,-14749.67,-28.0,28,-14749.67,0,0.0,0,0,28,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,28,0,0,0,0,0,28,0,0,28,0,0.0,28,0,0,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,2,1,1,1,1,1,1,1,1,1,28,0
372333,DF7029EX,VAZIO,2020-10-01,1,0,-35641.13,-1.0,1,-35641.13,0,0.0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,1,0,0.0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
372334,DF7029EX,VAZIO,2020-12-01,2,0,-6036.65,-2.0,2,-6036.65,0,0.0,0,0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,0,0,0,0,0,2,0,0,2,0,0.0,2,0,0,0,0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,0
372335,DF7029EX,VAZIO,2021-01-01,1,0,-37836.88,-1.0,1,-37836.88,0,0.0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,1,0,0.0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0

In [9]:
pagto['COMPETENCIA'] = pd.to_datetime(pagto['COMPETENCIA'])

In [10]:
pagto.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 372336 entries, 0 to 372335
Data columns (total 79 columns):
 #   Column                                     Non-Null Count   Dtype
---  ------                                     --------------   -----
 0   FORNECEDOR                                 372336 non-null  object
 1   NOME_UNICO                                 372336 non-null  object
 2   COMPETENCIA                                372336 non-null  datetime64[ns]
 3   N_DOC                                      372336 non-null  int64
 4   ANOMES                                     372336 non-null  int64
 5   MONT_EM_MI                                 372336 non-null  float64
 6   PGTO_EM                                    372336 non-null  float64
 7   BLOQUEIO_NAO                               372336 non-null  int64
 8   BLOQUEIO_NAO_MONT_EM_MI                    372336 non-null  float64
 9   BLOQUEIO_SIM                               372336 non-null  int64
 10  BLOQUEIO_SIM_MONT_EM_MI                    372336 non-null  float64
 11  STATUS_EM_ABERTO                           372336 non-null  int64
 12  STATUS_INVALIDOS                           372336 non-null  int64
 13  STATUS_PAGTOS                              372336 non-null  int64
 14  STATUS_WF_AGUARDANDO_REGULARIZACAO         372336 non-null  int64
 15  STATUS_WF_BLOQUEIO_ANALISE_CONTAS_A_PAGAR  372336 non-null  int64
 16  STATUS_WF_BLOQUEIO_BLACKLIST               372336 non-null  int64
 17  STATUS_WF_BLOQUEIO_COMPENSACAO_PAGTO       372336 non-null  int64
 18  STATUS_WF_BLOQUEIO_CONSILIACAO             372336 non-null  int64
 19  STATUS_WF_BLOQUEIO_DEVOLUCAO_DE_PAGTO      372336 non-null  int64
 20  STATUS_WF_BLOQUEIO_FINANCEIRO              372336 non-null  int64
 21  STATUS_WF_BLOQUEIO_PEND_CONTRATUAL         372336 non-null  int64
 22  STATUS_WF_BLOQUEIO_POR_FINANCAS            372336 non-null  int64
 23  STATUS_WF_FLUXO_DE_APROVACAO_WF            372336 non-null  int64
 24  STATUS_WF_GESTOR_ENGENHARIA                372336 non-null  int64
 25  STATUS_WF_GESTOR_NAO_ENGENHARIA            372336 non-null  int64
 26  STATUS_WF_INTERVENCAO                      372336 non-null  int64
 27  STATUS_WF_RETIDO_ADIANTAMENTO              372336 non-null  int64
 28  STATUS_WF_VERIFICAR                        372336 non-null  int64
 29  STATUS_WF_BLOQUEIO_PARA_PROTESTO           372336 non-null  int64
 30  STATUS_WF_BLOQUEIO_REEM_BOLETO             372336 non-null  int64
 31  SUB_STATUS_WF_APROVADO                     372336 non-null  int64
 32  SUB_STATUS_WF_RETIDO                       372336 non-null  int64
 33  SUB_STATUS_WF_EM_APROVACAO                 372336 non-null  int64
 34  SUB_STATUS_WF_VERIFICAR                    372336 non-null  int64
 35  EMPRESA_GLVA                               372336 non-null  int64
 36  EMPRESA_INN1                               372336 non-null  int64
 37  EMPRESA_ITIS                               372336 non-null  int64
 38  EMPRESA_POP1                               372336 non-null  int64
 39  EMPRESA_SPTE                               372336 non-null  int64
 40  EMPRESA_TBRA                               372336 non-null  int64
 41  EMPRESA_TERR                               372336 non-null  int64
 42  EMPRESA_TLF2                               372336 non-null  int64
 43  TP_PAGTO_BANCO                             372336 non-null  int64
 44  TP_PAGTO_FACTORING                         372336 non-null  int64
 45  TP_PAGTO_FACTORING_MONT_EM_MI              372336 non-null  float64
 46  AMBITO_FORA                                372336 non-null  int64
 47  AMBITO_DENTRO                              372336 non-null  int64
 48  MAT_SERV_SERVICOS                          372336 non-null  int64
 49  MAT_SERV_MATERIALEQUIPAMENTOS              372336 non-null  int64
 50  ESTADO_SP                                  372336 non-null  int64
 51  ESTADO_PR                                  372336 non-null  int64
 52  ESTADO_ES                                  372336 non-null  int64
 53  ESTADO_RS                                  372336 non-null  int64
 54  ESTADO_RJ                                  372336 non-null  int64
 55  ESTADO_MG                                  372336 non-null  int64
 56  ESTADO_PE                                  372336 non-null  int64
 57  ESTADO_PI                                  372336 non-null  int64
 58  ESTADO_MT                                  372336 non-null  int64
 59  ESTADO_AM                                  372336 non-null  int64
 60  ESTADO_BA                                  372336 non-null  int64
 61  ESTADO_SC                                  372336 non-null  int64
 62  ESTADO_GO                                  372336 non-null  int64
 63  ESTADO_PA                                  372336 non-null  int64
 64  ESTADO_TO                                  372336 non-null  int64
 65  ESTADO_DF                                  372336 non-null  int64
 66  ESTADO_CE                                  372336 non-null  int64
 67  ESTADO_AC                                  372336 non-null  int64
 68  ESTADO_RO                                  372336 non-null  int64
 69  ESTADO_MS                                  372336 non-null  int64
 70  ESTADO_PB                                  372336 non-null  int64
 71  ESTADO_MA                                  372336 non-null  int64
 72  ESTADO_AP                                  372336 non-null  int64
 73  ESTADO_SE                                  372336 non-null  int64
 74  ESTADO_AL                                  372336 non-null  int64
 75  ESTADO_RN                                  372336 non-null  int64
 76  ESTADO_RR                                  372336 non-null  int64
 77  MESCONTABILIZACAO_N                        372336 non-null  int64
 78  MESCONTABILIZACAO_S                        372336 non-null  int64
dtypes: datetime64[ns](1), float64(5), int64(71), object(2)
memory usage: 224.4+ MB

In [11]:
pagto.describe()

,N_DOC,ANOMES,MONT_EM_MI,PGTO_EM,BLOQUEIO_NAO,BLOQUEIO_NAO_MONT_EM_MI,BLOQUEIO_SIM,BLOQUEIO_SIM_MONT_EM_MI,STATUS_EM_ABERTO,STATUS_INVALIDOS,STATUS_PAGTOS,STATUS_WF_AGUARDANDO_REGULARIZACAO,STATUS_WF_BLOQUEIO_ANALISE_CONTAS_A_PAGAR,STATUS_WF_BLOQUEIO_BLACKLIST,STATUS_WF_BLOQUEIO_COMPENSACAO_PAGTO,STATUS_WF_BLOQUEIO_CONSILIACAO,STATUS_WF_BLOQUEIO_DEVOLUCAO_DE_PAGTO,STATUS_WF_BLOQUEIO_FINANCEIRO,STATUS_WF_BLOQUEIO_PEND_CONTRATUAL,STATUS_WF_BLOQUEIO_POR_FINANCAS,STATUS_WF_FLUXO_DE_APROVACAO_WF,STATUS_WF_GESTOR_ENGENHARIA,STATUS_WF_GESTOR_NAO_ENGENHARIA,STATUS_WF_INTERVENCAO,STATUS_WF_RETIDO_ADIANTAMENTO,STATUS_WF_VERIFICAR,STATUS_WF_BLOQUEIO_PARA_PROTESTO,STATUS_WF_BLOQUEIO_REEM_BOLETO,SUB_STATUS_WF_APROVADO,SUB_STATUS_WF_RETIDO,SUB_STATUS_WF_EM_APROVACAO,SUB_STATUS_WF_VERIFICAR,EMPRESA_GLVA,EMPRESA_INN1,EMPRESA_ITIS,EMPRESA_POP1,EMPRESA_SPTE,EMPRESA_TBRA,EMPRESA_TERR,EMPRESA_TLF2,TP_PAGTO_BANCO,TP_PAGTO_FACTORING,TP_PAGTO_FACTORING_MONT_EM_MI,AMBITO_FORA,AMBITO_DENTRO,MAT_SERV_SERVICOS,MAT_SERV_MATERIALEQUIPAMENTOS,ESTADO_SP,ESTADO_PR,ESTADO_ES,ESTADO_RS,ESTADO_RJ,ESTADO_MG,ESTADO_PE,ESTADO_PI,ESTADO_MT,ESTADO_AM,ESTADO_BA,ESTADO_SC,ESTADO_GO,ESTADO_PA,ESTADO_TO,ESTADO_DF,ESTADO_CE,ESTADO_AC,ESTADO_RO,ESTADO_MS,ESTADO_PB,ESTADO_MA,ESTADO_AP,ESTADO_SE,ESTADO_AL,ESTADO_RN,ESTADO_RR,MESCONTABILIZACAO_N,MESCONTABILIZACAO_S
count,372336.000000,372336.000000,3.723360e+05,372336.000000,372336.000000,3.723360e+05,372336.000000,3.723360e+05,372336.0,372336.000000,372336.000000,372336.0,372336.0,372336.0,372336.0,372336.0,372336.0,372336.0,372336.0,372336.0,372336.0,372336.0,372336.0,372336.0,372336.0,372336.000000,372336.0,372336.0,372336.000000,372336.000000,372336.0,372336.000000,372336.000000,372336.000000,372336.000000,372336.000000,372336.000000,372336.000000,372336.000000,372336.000000,372336.000000,372336.000000,3.723360e+05,372336.000000,372336.000000,372336.0,372336.0,372336.000000,372336.000000,372336.000000,372336.000000,372336.000000,372336.000000,372336.000000,372336.000000,372336.000000,372336.000000,372336.000000,372336.000000,372336.000000,372336.000000,372336.000000,372336.000000,372336.000000,372336.000000,372336.000000,372336.000000,372336.000000,372336.000000,372336.000000,372336.000000,372336.000000,372336.000000,372336.000000,372336.000000,372336.000000
mean,8.356095,3.574857,-4.861865e+07,49.081918,7.685244,-4.858889e+07,0.786301,-2.976395e+04,0.0,0.000043,7.715018,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000011,0.0,0.0,0.411139,0.798435,0.0,6.970685,0.000180,0.000537,0.010254,0.000800,0.000623,8.441518,0.012317,0.005315,7.730405,0.741140,-2.937744e+04,7.330054,1.141490,0.0,0.0,3.071605,0.347686,0.288583,0.546211,0.522649,0.881876,0.274024,0.083793,0.121648,0.164972,0.348623,0.209896,0.175779,0.170663,0.033048,0.319437,0.249366,0.021220,0.034294,0.084770,0.089916,0.118573,0.022676,0.111646,0.078655,0.078848,0.021086,8.334217,0.137328
std,135.180187,87.840417,2.091954e+10,1262.939006,130.288069,2.091954e+10,32.884745,1.047476e+06,0.0,0.023176,127.931999,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.003278,0.0,0.0,26.534048,32.907863,0.0,122.213561,0.014929,0.050615,0.488609,0.084519,0.056149,136.972282,0.277216,0.421693,130.346422,32.818128,1.047057e+06,130.617689,35.586289,0.0,0.0,54.755673,7.868155,11.005266,12.298769,16.013099,30.742765,10.745708,3.524238,3.358139,8.375394,11.102041,4.971866,4.089886,6.373754,1.115658,9.923722,10.505311,0.648109,1.260454,2.046186,3.441672,4.790942,0.845437,4.262132,2.696544,2.932230,0.836678,135.798245,13.273352
min,1.000000,0.000000,-9.478207e+12,-35091.000000,0.000000,-9.478207e+12,0.000000,-1.647990e+08,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-1.647990e+08,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,0.000000,-5.395820e+03,-2.000000,1.000000,-5.057312e+03,0.000000,0.000000e+00,0.0,0.000000,1.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000e+00,1.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
50%,1.000000,0.000000,-1.407535e+03,-1.000000,1.000000,-1.365180e+03,0.000000,0.000000e+00,0.0,0.000000,1.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000e+00,1.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
75%,2.000000,1.000000,-5.546500e+02,-1.000000,2.000000,-5.133100e+02,0.000000,0.000000e+00,0.0,0.000000,2.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,2.000000,0.000000,0.000000e+00,2.000000,0.000000,0.0,0.0,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000
max,35091.000000,34564.000000,2.218255e+06,172503.000000,35091.000000,2.218255e+06,6008.000000,4.802398e+05,0.0,14.000000,35077.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.000000,0.0,0.0,4980.000000,6008.000000,0.0,35077.000000,3.000000,14.000000,135.000000,36.000000,18.000000,35091.000000,32.000000,147.000000,35091.000000,6004.000000,8.593840e+04,35091.000000,6016.000000,0.0,0.0,7521.000000,1905.000000,1967.000000,1998.000000,3528.000000,6308.000000,2893.000000,674.000000,842.000000,1544.000000,1491.000000,1155.000000,991.000000,1321.000000,172.000000,2705.000000,1977.000000,218.000000,335.000000,488.000000,785.000000,736.000000,139.000000,708.000000,489.000000,558.000000,174.000000,35091.000000,5250.000000

#### BASE DE CADASTRO DE FORNECEDORES:

- Essa base contem o cadastro dos fornecedores. Cada fornecedor pode ter mais de um CNPJ (a ideia de filiais) e tambm cada uma dessas filiais pode ter um cdigo que est armazenado na coluna 'FORNECEDOR'.
-  utilizada para o join com a base de pagamento, pois a base de pagamento no possui a coluna 'RAIZ_CNPJ'.

In [12]:
FILE = '20220923 - CAD_FORNECEDORES.csv'
fornecedores = pd.read_csv(PATH + FILE, sep = ';', dtype=str, encoding = 'ISO-8859-1')
fornecedores.head()

  RAIZ CNPJ            CNPJ   FORNECEDOR  CLASSIFICAO                                       NOME_UNICO FLAG                 NOME_RESUMO SEGMENTO Unnamed: 8
0         0               0          -          EMPRESA                      Favor selecionar o Parceiro    -        # Escolha o Parceiro        -        NaN
1  67431718  67431718000103   14.003.148        EMPRESA  02 PRODUCOES ARTISTICAS E CINEMATOGRAFICAS LTDA    -     02 PRODUCOES ARTISTICAS   DEMAIS        NaN
2  10414014  10414014000105    8.007.109        EMPRESA                    123 MARKETING DE EVENTOS LTDA    -    123 MARKETING DE EVENTOS   DEMAIS        NaN
3  34639119  34639119000120   14.066.918        EMPRESA      1601 INOVACAO TREINAMENTO E ESTRATEGIA LTDA    -   1601 INOVACAO TREINAMENTO   DEMAIS        NaN
4  08783936   8783936000148   10.016.619       EMPRESA2                  1LINK PROVEDOR DE INTERNET LTDA    -  1LINK PROVEDOR DE INTERNET   DEMAIS        NaN

In [13]:
fornecedores.columns = ['RAIZ_CNPJ', 'CNPJ', 'FORNECEDOR', 'CLASSIFICACAO', 'NOME_UNICO', 'FLAG', 'NOME_RESUMO', 'SEGMENTO', 'UNNAMED8']

In [14]:
for i in fornecedores.columns:
    if fornecedores[i].dtypes=='object':
        fornecedores[i] = fornecedores[i].str.upper()
        
fornecedores.head(3)

  RAIZ_CNPJ            CNPJ    FORNECEDOR CLASSIFICACAO                                       NOME_UNICO FLAG               NOME_RESUMO SEGMENTO UNNAMED8
0         0               0          -          EMPRESA                      FAVOR SELECIONAR O PARCEIRO    -      # ESCOLHA O PARCEIRO        -      NaN
1  67431718  67431718000103   14.003.148        EMPRESA  02 PRODUCOES ARTISTICAS E CINEMATOGRAFICAS LTDA    -   02 PRODUCOES ARTISTICAS   DEMAIS      NaN
2  10414014  10414014000105    8.007.109        EMPRESA                    123 MARKETING DE EVENTOS LTDA    -  123 MARKETING DE EVENTOS   DEMAIS      NaN

In [15]:
fornecedores['FORNECEDOR'] = fornecedores['FORNECEDOR'].fillna(value = '0') \
                            .apply(lambda x: x.replace('.', '').replace(',', '').replace('-', '').replace(' ', ''))

fornecedores.fillna('VAZIO', inplace=True)

In [16]:
fornecedores = fornecedores.iloc[1:].copy()
fornecedores.head(3)

  RAIZ_CNPJ            CNPJ FORNECEDOR CLASSIFICACAO                                       NOME_UNICO FLAG                NOME_RESUMO SEGMENTO UNNAMED8
1  67431718  67431718000103   14003148       EMPRESA  02 PRODUCOES ARTISTICAS E CINEMATOGRAFICAS LTDA    -    02 PRODUCOES ARTISTICAS   DEMAIS    VAZIO
2  10414014  10414014000105    8007109       EMPRESA                    123 MARKETING DE EVENTOS LTDA    -   123 MARKETING DE EVENTOS   DEMAIS    VAZIO
3  34639119  34639119000120   14066918       EMPRESA      1601 INOVACAO TREINAMENTO E ESTRATEGIA LTDA    -  1601 INOVACAO TREINAMENTO   DEMAIS    VAZIO

In [17]:
fornecedores.drop(['FLAG', 'UNNAMED8'], axis=1, inplace=True)

In [18]:
fornecedores.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11495 entries, 1 to 11495
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   RAIZ_CNPJ      11495 non-null  object
 1   CNPJ           11495 non-null  object
 2   FORNECEDOR     11495 non-null  object
 3   CLASSIFICACAO  11495 non-null  object
 4   NOME_UNICO     11495 non-null  object
 5   NOME_RESUMO    11495 non-null  object
 6   SEGMENTO       11495 non-null  object
dtypes: object(7)
memory usage: 628.8+ KB