In [1]:
from pyspark import SparkContext, SparkConf, SQLContext
from pyspark.sql import HiveContext 
import pyodbc
import pandas as pd

In [8]:
cnxn = pyodbc.connect('DSN=Hive_CDP_PRD;UID=svc_preloadbd;PWD=Hbigdata@00', autocommit=True)

cursor = cnxn.cursor()

In [2]:
conn = pyodbc.connect('DSN=Hive_CDP_PRD',autocommit=True) 
crsr = conn.cursor()

In [16]:
query = """SELECT * FROM h_bigd_db.batdtfim_anlz2"""

In [ ]:
data = pd.read_sql(query, cnxn)

In [ ]:
data.head(10)

In [ ]:
##Importing pyodbc module
import pyodbc
 
##connecting to your database through ODBC
cnxn = pyodbc.connect('DSN=Oracle Wire Protocol;UID=<user>;PWD=<password>', autocommit=True)
cursor = cnxn.cursor()
 
##Executing a simple query and printing the records
cursor.execute("SELECT * FROM GDP ORDER BY YEAR")
for row in cursor.fetchall():
    print (row)